@model IEnumerable<MVC_EDU2.Physician>

<head>

    <script src="@Url.Content("../scripts/confirmdelete.js")"></script>
</head>

@{
    ViewBag.Title = "Index";


    List<String> slist = new List<string>();
    List<String> hlist = new List<string>();
    

foreach(var item in ViewBag.Speciality)
{
    slist.Add(item.Speciality1);

}


foreach (var item in ViewBag.HospitalList)
{
    hlist.Add(item.HospitalName);

}


}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Npi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speciality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsultationCharges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hospital)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Npi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem =>slist[item.Speciality-1])
        </td>
        
          <td>
            @Html.DisplayFor(modelItem => item.ConsultationCharges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => hlist[item.Hospital-1])
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
           <!-- Html.ActionLink("Details", "Details", new { id=item.id }) |-->
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { onclick="return confirmdelete()" })
        </td>
    </tr>

    }
</table>
